<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Demo01</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(usuarios)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Product Id</th>
                <th>Description</th>
                <th>Price</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"><a href="/usuario/${usuario.id}">Id</a></td>
                <td th:text="${usuario.dni}"> dni </td>
                <td th:text="${usuario.nombre}"> nombre</td>
                <td th:text="${usuario.edad}">edad</td>
                <td><a th:href="${'/usuario/' + usuario.id}">View</a></td>
                <td><a th:href="${'/usuario/edit/' + usuario.id}">Edit</a></td>
                <td><a th:href="${'/usuario/delete/' + usuario.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>